@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
}



@media screen and (max-width: 768px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 20px !important;

    }

    p {
        font-size: 16px;
    }

    .my-car img {
        width: 600px !important;

    }

    .row {
        padding: 0 !important;
    }

}