@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 100%;
}



@media screen and (max-width: 768px) {

    .left-sec h2 {
        font-size: 30px !important;

    }

    p {
        font-size: 16px;
    }

    .my-car img {
        width: 600px !important;

    }

    .row {
        padding: 0 !important;
    }

    .discover-btn {
        padding: 0 10px !important;
    }

    .discover-btn a {
        font-size: 16px !important;
    }

    .discover-btn span {
        font-size: 16px !important;
    }

}